.btn-custom{
    width:50%
}

.card-custom{
    max-width: 100%;
}

.div-width{
    max-width: 50%;
}

.fixed-size-scrollable {
    max-height: 450px;
    border: 1px solid #000; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.img-custom{
    width: 100%;
}

/* .div-custom-margin{
    margin-right: 30px;
} */

.img-custom-border{
    border: 30px;
}

.button-custom{
    height:30px;
    width:30px;
}